// Theme developed by u/krozshardt,
// inspired by the Nord palette.

._1vyLCp-v-tE5QvZovwrASa,
._ZhON3a3vplThB8NFwuJn {
	background: #2e3440 !important;
}

._2vkeRJojnV7cb9pMlPHy7d,
._2jJNpBqXMbbyOiGCElTYxZ,
.wBtTDilkW_rtT2k5x3eie,
._1oQyIsiPHYt6nx7VOmd1sz,
._1RYN-7H8gYctjOQeL8p2Q7,
._1poyrkZ7g36PawDueRza-J,
._11R7M_VOgKO1RJyRSRErT3,
._3ecQI6Cj7AUan8ODNedckX,
._3rsj8PUqTkCf6pe9416Gyy,
._39yVNiqPz4VPgNZTlpA5fx,
.avKlJzxZU3brq4nAX0_i1,
._1G4yU68P50vRZ4USXfaceV,
._2QeqBqfT5UbHBoViZUt-wX {
	background: #3b4252 !important;
}

* {
	border: none !important;
}

._eYtD2XCVieq6emjKBH3m {
	color: #a3be8c !important;
}

path {
	fill: #88c0d0 !important;
}

._3K5j589m2GGg7J3pR96mQf,
._3VVeutMKl2leQEGhurm7YN,
.h-jI8r2f9ozTNqu_2TBeY,
.M2Hk_S2yvXpsNPfZMBMur,
._1s79QnBguPbckxiiPvFXGP {
	background: #2e3440;
}

._14IRbTHWqATJbFJ9PgPswU,
._1Cg0rke34k99vLcCo_aCP1 {
	background: #a3be8c;
}

._14IRbTHWqATJbFJ9PgPswU:hover,
._1Cg0rke34k99vLcCo_aCP1:hover {
	background: #a3be8c;
	filter: brightness(95%) saturate(2);
}

._1O4jTk-dZ-VIxsCuYB6OR8 > g > circle {
	fill: #2e3440;
}

._2uYY-KeuYHKiwl-9aF0UiL,
._1HSQGYlfPWzs40LP4_oFi5,
input {
	background: #2e3440 !important;
}

button {
	color: #2e3440 !important;
}

._28vEaVlLWeas1CDiLuTCap,
._2KotRmn9DgdA58Ikji2mnV {
	background: #2e3440 !important;
	color: #d8dee9 !important;
}

._2e2g485kpErHhJQUiyvvC2,
._179edq2yfZswDIo3NdeebM,
._1L5kUnhRYhUJ4TkMbOTKkI {
	background: #4c566a !important;
}

._2TN8dEgAQbSyKntWpSPYM7.-z42jjKOFdAdFhdJ8mmI4 {
	transform: scale(1.25);
	margin-right: 1rem;
}

.M2Hk_S2yvXpsNPfZMBMur._1s79QnBguPbckxiiPvFXGP {
	background: #4c566a;
	color: #88c0d0;
	fill: #88c0d0;
}

._3aof1UDvKACEvKW4EMZ299._1j2O3iNM1HoiXK7B2dmp7b,
.fuCmx3adjKY3tXA4Zfx2p._1h3IXJoJFpHbyec1FkB4MV {
	background: #3b4252;
	fill: #2e3440 !important;
}

._3mWek_rCoNZ3KHXxqDuM88,
._1izt0pKGHoMq6qSvK4cAIn {
	color: #88c0d0;
}

._3aof1UDvKACEvKW4EMZ299._1j2O3iNM1HoiXK7B2dmp7b.fuCmx3adjKY3tXA4Zfx2p._1h3IXJoJFpHbyec1FkB4MV > .qYzY57HWQ8W424hj3s10-._3uIlo4RbXf8gjMYw0yP_Jj {
	background: #88c0d0 !important;
	padding: 0 1rem;
	border-radius: .25rem;
	margin-top: 1rem;
}

._2vH__bwuub4wzWRqcvhh3m {
	background: #3b4252;
}

.qQD1kUtHq2K4gyBqJrEnF.qQD1kUtHq2K4gyBqJrEnF > a {
	color: #88c0d0 !important;
}


._374Hkkigy4E4srsI2WktEd {
	color: #a3be8c !important;
}

._1sA-1jNHouHDpgCp1fCQ_F > span {
	color: #5e81ac !important;
}
